[alias]
    a   = add
    b   = branch -vv 
    br  = branch -av 
    co  = checkout
    com = checkout master
    cod = checkout develop
    ci  = commit
    cia = commit -a
    cp  = cherry-pick -x
    df  = diff
    l   = log
    l1  = log --oneline --date=relative --pretty=format:'%C(yellow)%h %Cblue%>(12)%ad %Creset%<(16)%aN%Cred%d %C(cyan)%s'
    l11 = log --oneline
    lu  = log -u
    ls  = log --stat
    lg  = log --oneline --decorate --all --graph
    lt  = log --no-walk --tags --pretty=\"%h %d %s\" --decorate=full
    p   = pull
    pr  = pull --rebase
    r   = remote
    re  = remote -v 
    st  = status -uno # ignore untracked files
    stu = status # show untracked files

[color]
    diff = auto
    status = auto
    branch = auto

[core]
    editor = vim
    excludesfile = ~/.gitignore

[fetch]
    prune = true 

[log]
    date = human

[sendemail]
    to = luke.chen@mongodb.com
    smtpEncryption = tls
    smtpServer = smtp.gmail.com
    smtpUser = luke.chen@10gen.com
    smtpServerPort = 587

[user]
    name = Luke Chen
    email = luke.chen@mongodb.com

[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[pull]
	rebase = false
[init]
	defaultBranch = main
